include mixins.jade
doctype html
html
    head
        //+head-meta()
        title HTC Mirror Tunnel
        meta( name='viewport', content='width=device-width, initial-scale=1' )
        
        link( rel='stylesheet', type='text/css', href='/jquery-ui-theme/default.min.css' )
        link( rel='stylesheet', type='text/css', href='/jquery-ui-theme/jquery.mobile.icons.min.css' )
        link( rel='stylesheet', type='text/css', href='/jquery-ui/jquery.mobile.structure-1.4.5.min.css' )

        style.
            .warning { position: fixed;
                       top: 20; bottom: 0; left: 0; right: 0;
                       background-color: rgba( 255,0,0,0.8 );
                       color: white;
                       margin-top: 200px;
                       z-index: 80000; }
        
    body
        mixin footer
            //- #footer( data-role='footer', data-position="fixed" )
            //-   h4 Mirror Control System &mdash; TheWorkers.net

        mixin radio( uri, name, id, value, text )
            input( data-rest-type='radio-post', data-rest-uri=uri, type='radio', name=name, id=id, value=value )
            label( for=id ) #{text}
                
        // #page-index( data-role='page' )
        //     div( data-role='header' )
        //         h1 Settings
        //     .ui-content( role='main' )
        //          ul( data-role='listview', data-inset='false' )
        //              li: a( href='#page-control-mode' ) Control Mode
        //              // li: a( href='#page-settings' ) Settings
        //              // li: a( href='#page-about' ) About
        //     +footer()

        h3( data-disconnected-warning='yes' ).warning Warning Not Connected To Server
                
        #page-control-mode( data-role='page' )
            div( data-role='header' )
                a( href="#page-index" class='ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-home' ) Home
                h1 Control Mode
            .ui-content( role='main' )
                form
                    ul( data-role="listview", data-inset="true" )
                        li( data-role="list-divider") Motor Status
                        li( style="padding:0;border:0;" )
                        fieldset( data-rest-type='feildset', data-rest-uri='/motor/controller/is-enabled/', data-role='controlgroup', style='margin:0' ).ui-mini
                            // legend Control Mode:
                            +radio( '/motor/controller/is-enabled/', 'is-enabled', 'is-enabled-no', 'no', 'Disabled' )
                            +radio( '/motor/controller/is-enabled/', 'is-enabled', 'is-enabled-yes', 'yes', 'Enabled' )
                
                    ul( data-role="listview", data-inset="true" )
                        li( data-role="list-divider") Control Mode
                        li( style="padding:0;border:0;" )
                        fieldset( data-rest-type='feildset', data-rest-uri='/host/control/mode/', data-role='controlgroup', style='margin:0' ).ui-mini
                            // legend Control Mode:
                            +radio( '/host/control/mode/', 'control-mode', 'control-mode-none', 'manual', 'Manual Controls Only' )
                            +radio( '/host/control/mode/', 'control-mode', 'control-mode-sequence', 'sequence', 'Running Sequence' )
                            +radio( '/host/control/mode/', 'control-mode', 'control-mode-phone-1', 'phone-1', 'Controlled by Phone 1' )
                            +radio( '/host/control/mode/', 'control-mode', 'control-mode-phone-2', 'phone-2', 'Controlled by Phone 2' )
                            +radio( '/host/control/mode/', 'control-mode', 'control-mode-phone-3', 'phone-3', 'Controlled by Phone 3' )
                            +radio( '/host/control/mode/', 'control-mode', 'control-mode-phone-4', 'phone-4', 'Controlled by Phone 4' )
        
                    ul( data-role="listview", data-inset="true" )
                        li( data-role="list-divider") Motor Direction
                        li( style="padding:0;border:0;" )
                        fieldset( data-rest-type='feildset', data-rest-uri='/motor/rotation/direction/', data-role='controlgroup', style='margin:0' ).ui-mini
                            // legend Control Mode:
                            +radio( '/motor/rotation/direction/', 'motor-direction', 'motor-direction-forward', 'forward', 'Forward' )
                            +radio( '/motor/rotation/direction/', 'motor-direction', 'motor-direction-none',  'none', 'None' )
                            +radio( '/motor/rotation/direction/', 'motor-direction', 'motor-direction-backward', 'backward', 'Backward' )

                    ul( data-role="listview", data-inset="true" )
                        li( data-role="list-divider") Motor Rotation
                        li( style="padding:0;border:0;" )
                        fieldset( data-rest-type='feildset', data-rest-uri='/motor/rotation/speed/', data-role='controlgroup', style='margin:0' ).ui-mini
                            // legend Control Mode:
                            +radio( '/motor/rotation/speed/', 'motor-rotation', 'motor-rotation-high', 'high', 'High' )
                            +radio( '/motor/rotation/speed/', 'motor-rotation', 'motor-rotation-medium',  'medium', 'Medium' )
                            +radio( '/motor/rotation/speed/', 'motor-rotation', 'motor-rotation-low', 'low', 'Low' )

                    //- ul( data-role="listview", data-inset="true" )
                    //-     li( data-role="list-divider") Motor Speed
                    //-     li( style="padding:0;border:0;" )
                    //-     fieldset( data-role='controlgroup', style='margin:0' ).ui-mini
                    //-         // legend Control Mode:
                    //-         +radio( 'motor-speed', 'control-mode-nane', 'manual', 'Manual Controls Only' )
                    //-         +radio( 'motor-speed', 'control-mode-sequence', 'sequence', 'Running Sequence' )
                    //-         +radio( 'motor-speed', 'control-mode-phone-1', 'phone-1', 'Controlled by Phone 1' )
                    //-         +radio( 'motor-speed', 'control-mode-phone-2', 'phone-2', 'Controlled by Phone 2' )
                    //-         +radio( 'motor-speed', 'control-mode-phone-3', 'phone-3', 'Controlled by Phone 3' )
                    //-         +radio( 'motor-speed', 'control-mode-phone-4', 'phone-4', 'Controlled by Phone 4' )
                    
                    // ul( data-role='listview', data-inset='true' ).ui-mini
                    //     li( data-role="list-divider" ) Motor State
                    //     li Direction: 
                    //         strong: span n/a
                    //     li Speed: 
                    //         strong: span n/a
                        
                    // ul( data-role='listview', data-inset='true' ).ui-mini
                    //     li( data-role="list-divider" ) Manual Rotation
                    //     li: a( data-rest-action='post', data-rest-value='forward', data-rest-uri='/motor/rotation/direction/' ).ui-icon-plus Forward
                    //     li: a( data-rest-action='post', data-rest-value='none', data-rest-uri='/motor/rotation/direction/' ).ui-icon-plus None
                    //     li: a( data-rest-action='post', data-rest-value='backward', data-rest-uri='/motor/rotation/direction/' ).ui-icon-plus Backward
                    //     li( data-role="list-divider" ) Manual Speed
                    //     li: a( data-rest-action='post', data-rest-value='high', data-rest-uri='/motor/rotation/speed/' ).ui-icon-plus High
                    //     li: a( data-rest-action='post', data-rest-value='medium', data-rest-uri='/motor/rotation/speed/' ).ui-icon-plus Medium
                    //     li: a( data-rest-action='post', data-rest-value='low', data-rest-uri='/motor/rotation/speed/' ).ui-icon-plus Low
                        
                            
            +footer()

        // #page-settings( data-role='page' )
        //     div( data-role='header' )
        //         a( href="#page-index" class='ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-home' ) Home
        //         h1 Settings
        //     .ui-content( role='main' )
        //         form
        //             label( for='/config/particles/max' ) Max Particles
        //             input#range( type='range', name='/config/particles/max', data-highlight='true', min=0, max=100, value=50 )

        //             legend Options:
        //             input( type='checkbox', id='qwer' )
        //             label( for='qwer' ) Use Camera
        //     +footer()

        // #page-about( data-role='page' )
        //     div( data-role='header' )
        //         a( href="#page-index" class='ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-home' ) Home
        //         h1 About
        //     .ui-content( role='main' )
        //         p Some info
        //     +footer()


        //-Scripts
        +core-scripts()
        script( src='/jquery-ui/jquery.mobile-1.4.5.min.js' )